@media only screen and (max-width: 600px) {
}
#main-doc {
  display: flex;
  justify-content: space-between;
}

.main {
  margin-top: 1rem;
  flex-basis: 70vw;
  margin-left: 1rem;
}
header {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-top: 3rem;
}
.main-section p {
  margin: 2.5rem;
}
/* navbar style */

.navbar {
  margin-top: 0.5rem;
  flex-basis: 20vw;
}
.nav-item {
  overflow-y: scroll;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
.nav-list {
  list-style: none;
  padding: 10px;
}
.nav-list:not(:last-child) {
  border-bottom: 1px solid #4d4e53;
}
.nav-list:first-child {
  border-top: 1px solid #4d4e53;
}

.nav-link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  color: #4d4e53;
}

/* code css style */
code {
  background-color: #f7f7f7;
  padding: 30px;
}
